{% extends "notes/base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm">
      <h2 class="mb-3">Inscription</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100">Créer un compte</button>
      </form>
      <div class="mt-3 text-center">
        <a href="{% url 'login' %}">Déjà inscrit ? Se connecter</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}